#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 150;
}
#modal-container.modalCover {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.modalCover .modal-background .mymodal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.modalCover.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.modalCover.out .modal-background .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
  height: 100%;
  border: 0;
  background-image: url(../img/cover-bg.webp);
  background-size: cover;
}
#modal-container .modal-background .mymodal {
  box-shadow: inset 0.1rem 0.1rem 0.1rem var(--color-primary-light);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  text-shadow: 0 0 1px var(--color-shadow);
  padding: 5px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 300;
  position: relative;
}
.mymodal h1 {
  font-size: 42px;
  padding-bottom: 0;
  letter-spacing: 0.5rem;
}
.mymodal .couple-name {
  font-family: 'Great Vibes', cursive;
  letter-spacing: 4px;
  font-weight: 700;
  font-size: 28px;
  padding: 1.5rem 2rem;
}
.mymodal .button {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--color-primary-light);
  background: var(--color-theme);
  border-radius: 1em;
  box-shadow: inset 0rem 0.2rem 0.2rem 0rem var(--color-primary-light);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }
  .mymodal .button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid var(--color-theme);
    box-shadow: 0 0 60px var(--color-primary-light);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .mymodal .button:hover, .mymodal .button:focus {
    color:  var(--color-theme);
    transform: translateY(-6px);
  }
  
  .mymodal .button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  .mymodal .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid var(--color-theme);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .mymodal p:hover::after, .mymodal p:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
.mymodal .footer p {
  font-size: 10px;
}