.tab-menu {
  background-color: var(--color-primary-light);
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1.5rem;
  border-radius: 10rem;
  box-shadow: 0 0 1rem var(--color-shadow);
  z-index: 100;
}

.tab-menu__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.tab-menu__item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--color-primary);
  border-radius: 4rem;
  padding: 0.5rem 0rem;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.tab-menu__icon {
  transform: translateY(2px);
}

.tab-menu__text {
  display: none;
}

.tab-menu__active {
  color: var(--color-primary);
  padding: 0.5rem 1rem;
  background-color: var(--color-secondary);
}

.tab-menu__active .tab-menu__text {
  display: block;
}
