/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

/*------------------------------------------------------------------
    IMPORT CSS
-------------------------------------------------------------------*/
@import url(reset.css);
@import url(modal-animation.css);
@import url(aos.css);
@import url(cover.css);
@import url(nav.css);
@import url(font-awesome.min.css);
@import url(responsiveslides.css);
@import url(flaticon.css);
@import url(lightbox.css);
@import url(bootstrap.min.css);
/*-----------------------------------------------------
AWAL CSS FOR ALL
-------------------------------------------------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-primary: #060606;
  --color-primary-light: #c4c4c4;
  --color-secondary: #e8e9ee;
  --color-white: #eaeaea;
  --color-theme: #a37949;
}

body {
  position: relative;
  color: var(--color-primary);
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh; 
  background-image: url(../img/bg-ky.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: var(--color-primary);
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: 120% !important;
  margin: 0;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 13px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: var(--color-primary);
  text-decoration: none !important;
  opacity: 0.8;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  outline: none;
}

a,
.button {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

ul,
li,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

button:focus {
  outline: none;
}

#music {
  position: fixed;
  right: 3%;
  top: 20%;
  z-index: 15;
  display: grid;
}

#music button {
  border: transparent;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

#music #play {
  background: url("../font/play.svg") no-repeat;
  background-size: cover;
}

h1,
h2,
h3 {
  font-family: 'Lobster', cursive;
}
/*-----------------------------------------------------
AKHIR CSS FOR ALL
-------------------------------------------------------*/
.button {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
  display: inline-block;
  border-radius: 1em;
  text-align: center;
  outline: none;
}

.message {
  padding: 0.5rem 1rem;
  background-color: var(--color-theme);
  cursor: pointer;
  box-shadow: inset 0rem 0.2rem 0.2rem 0rem var(--color-primary-light);
  color: var(--color-secondary);

}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
.count {
  box-shadow: inset 0rem 0.2rem 0.2rem 0rem var(--color-theme);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 4rem 0;
  text-align: center;
  padding: 2rem 2rem;
}
.count-header {
  font-family: 'Mr Dafoe', cursive;
}
.countdown {
  margin: 0;
  padding: 1rem 0;
}
.countdown .cd {
  width: 4rem;
  margin: 0.2rem auto;
  padding: 0.5rem;
  border: 5px solid var(--color-theme);
  border-radius: 1rem;
}
.countdown h1 {
 padding-bottom: 0;
 margin-bottom: 0;
}
.countdown p {
  padding-top: 0;
  margin-top: 0;
  font-size: 10px;
}
.count-body {
  font-family: 'Great Vibes', cursive;
}



/*-----------------------------------------------------
AWAL CSS ALL
-------------------------------------------------------*/
.box {
  text-align: center;
  width: 100%;
  min-height: 100%;
  max-width: none;
  padding-top: 50px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.acc {
  text-align: center;
  background: transparent;
  width: 100%;
  min-height: auto;
  max-width: none;
  padding-top: 0px;
}

/*-----------------------------------------------------
AKHIR CSS ALL
-------------------------------------------------------*/

/*-----------------------------------------------------
AWAL WEDDING
-------------------------------------------------------*/
.wedding {
  text-align: center;
  width: 100%;
  min-height: 100%;
  max-width: none;
  padding-top: 50px;
  padding-bottom: 0;
}
.wedding .couple-name {
  font-family: 'Great Vibes', cursive;
  letter-spacing: 4px;
  padding: 1.5rem 2rem;
  font-weight: 700;
}

/*-----------------------------------------------------
AKHIR WEDDING
-------------------------------------------------------*/

/*-----------------------------------------------------
AWAL COUPLE
-------------------------------------------------------*/
.couple {
  text-align: center;
  width: 100%;
  min-height: 100%;
  max-width: none;
  padding-top: 0px;
  padding-bottom: 0;
}
.couple h2, .couple h1  {
  font-family: 'Great Vibes', cursive;
  letter-spacing: 4px;
  padding: 1.5rem 2rem;
  font-weight: 700;
}
.couple .weare {
  font-family: 'Mr Dafoe', cursive;
}
/*-----------------------------------------------------
AKHIR COUPLE
-------------------------------------------------------*/
/*-----------------------------------------------------
AWAL EVENT
-------------------------------------------------------*/
.event .mycard {
  background: inherit;
  background-image: url(../img/box.webp);
  background-size: cover;
  position: relative;
  margin: 1rem auto;
  border-radius: 1rem;
}
.event .walimatul {
  font-family: 'Mr Dafoe', cursive;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  
}


/*-----------------------------------------------------
AKHIR EVENT
-------------------------------------------------------*/
/*-----------------------------------------------------
AWAL GALERY
-------------------------------------------------------*/

/*-----------------------------------------------------
AKHIR GALERY
-------------------------------------------------------*/
/*-----------------------------------------------------
AWAL GALERY
-------------------------------------------------------*/
/* AWAL STORY */

/*-----------------------------------------------------
AKHIR STORY
-------------------------------------------------------*/

/*-----------------------------------------------------
AWAL FOOTER
-------------------------------------------------------*/
footer {
  align-items: center;
}
footer p {
  font-size: 10px;

}

.quote {
  text-align: center;
  width: 100%;
  outline: none;
  background-size: cover;
  font-family: "Tangerine", cursive;
}

footer {
  height: 90px;
  background-color: #a37949;
  color: var(--color-secondary);

}

/*-----------------------------------------------------
AKHIR FOOTER
-------------------------------------------------------*/
