/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
/*------------------------------------------------------------------
    IMPORT CSS
-------------------------------------------------------------------*/
@import url(reset.css);
@import url(modal-animation.css);
@import url(aos.css);
@import url(cover.css);
@import url(nav.css);
@import url(font-awesome.min.css);
@import url(flaticon.css);
@import url(bootstrap.min.css);
/*-----------------------------------------------------
AWAL CSS FOR ALL
-------------------------------------------------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-black: #1f2633;
  --color-primary-light: #c4c4c4;
  --color-secondary: #e8e9ee;
  --color-white: #ffffff;
  --color-theme: #a37949;

  --color-blue: #36688d;
  --color-yellow: #f3cd05;
  --color-green: #f49f05;
  --color-brown: #f18904;
  --color-redLight: #bda589;

  --color-muda: #fde5b2;
  --color-tua: #fdd684;
  --color-redDark: #c83a27;

  
}

body {
  position: relative;
  color: var(--color-redDark);
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh; 
  background-image: url(../img/bg-ky.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: var(--color-primary);
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: 120% !important;
  margin: 0;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 13px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: var(--color-primary);
  text-decoration: none !important;
  opacity: 0.8;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  outline: none;
}

a,
.button {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

ul,
li,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

button:focus {
  outline: none;
}

#music {
  position: fixed;
  right: 3%;
  top: 20%;
  z-index: 15;
  display: grid;
}

#music button {
  border: transparent;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

#music #play {
  background: url("../font/play.svg") no-repeat;
  background-size: cover;
}

h1,
h2,
h3 {
  font-family: 'Lobster', cursive;
}
/*-----------------------------------------------------
AKHIR CSS FOR ALL
-------------------------------------------------------*/
.button {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
  display: inline-block;
  border-radius: 1em;
  text-align: center;
  outline: none;
}

.message {
  color: var(--color-muda);
  background: var(--color-redDark);
  border: var(--color-muda) solid 0.10rem;
  border-radius: 2rem;
  padding: 0.6rem;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
/*-----------------------------------------------------
AWAL CSS ALL
-------------------------------------------------------*/
.box {
  text-align: center;
  width: 100%;
  min-height: 100%;
  max-width: none;
  padding: 0 1.5rem;
  border: var(--color-white) solid 0.10rem;
  backdrop-filter: blur(2rem);
  border-radius: 2rem;
}
.acc {
  text-align: center;
  background: transparent;
  width: 100%;
  min-height: auto;
  max-width: none;
  padding-top: 0px;
}
/*-----------------------------------------------------
AKHIR CSS ALL
-------------------------------------------------------*/

/*-----------------------------------------------------
AWAL WEDDING
-------------------------------------------------------*/
.wedding {
  text-align: center;
  width: 100%;
  min-height: 100%;
  max-width: none;
  padding-top: 3.8rem;
  background-image: url(../img/accTop.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.wedding .coupleName {
  font-family: 'Berkshire Swash', cursive;
  letter-spacing: 0.40rem;
  background:linear-gradient(90deg,var(--color-redDark), var(--color-redLight), var(--color-white),var(--color-muda));
  transition-property:background;
  background-size:400%;
  background-clip:text;
  -webkit-background-clip:text;
  color:transparent;
  font-size:26px;
  transition:0.9s;
  font-weight: 600;
}

.coupleName{animation:animate 8s infinite;}

@keyframes animate{
  0%{
      background-position:0%;
  }
  100%{
      background-position:400%;
  }
}
/*-----------------------------------------------------
AKHIR WEDDING
-------------------------------------------------------*/
/*-----------------------------------------------------
AWAL COUNTDOWN TIMER
-------------------------------------------------------*/
#bgCount {
  margin: 0.5rem auto;
  padding: 1rem 3rem;
  background-image: url(../img/accTopRight.png), url(../img/accTopLeft.png), url(../img/accBottomLeft.png), url(../img/accBottomRight.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top right, top left, bottom left, bottom right;
}
.count {
  border-radius: 2rem;
  text-align: center;
  padding: 1rem 2rem 0.1rem 2rem;
  background-color: var(--color-redDark);
}
.count-header {
  font-family: 'Mr Dafoe', cursive;
  font-size: 30px;
  font-weight: 550;
  background: -webkit-linear-gradient(var(--color-yellow), var(--color-brown));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.countdown {
  margin: 0;
  padding: 1rem 0;
}
.countdown .cd {
  width: 3.5rem;
  margin: 0.2rem auto;
  padding: 0.5rem;
  border: 0.1rem solid var(--color-yellow);
  border-radius: 1rem;
  background-color: var(--color-redDark);
}
.countdown h1 {
 padding-bottom: 0;
 margin-bottom: 0;
 background: -webkit-linear-gradient(var(--color-green), var(--color-yellow));
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.countdown p {
  padding-top: 0;
  margin-top: 0;
  font-size: 11px;
  color: var(--color-muda);
}
.count-body {
  font-family: 'Great Vibes', cursive;
  font-size: 12px;
  color: var(--color-muda);
  text-shadow: 2px 2px 2px var(--color-redDark);
}
/*-----------------------------------------------------
AKHIR COUNTDOWN TIMER
-------------------------------------------------------*/
/*-----------------------------------------------------
AWAL COUPLE
-------------------------------------------------------*/
.couple {
  text-align: center;
  margin: 0.5rem auto;
  padding: 2rem;
  background-image: url(../img/accTop.webp), url(../img/accBottom.webp);
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
  background-size: contain;
}
.couple .weare {
  font-family: 'Mr Dafoe', cursive;
  text-shadow: 0.09rem 0.09rem 0.09rem var(--color-tua);
}
.couple h2 {
  font-family: 'Great Vibes', cursive;
  letter-spacing: 4px;
  padding: 1.5rem 2rem;
  font-weight: 600;
}
/*-----------------------------------------------------
AKHIR COUPLE
-------------------------------------------------------*/
/*-----------------------------------------------------
AWAL EVENT
-------------------------------------------------------*/
.event {
  text-align: center;
  padding: 2rem;
  margin: 0.5rem auto;
  background-image: url(../img/accTop.webp), url(../img/accBottom.webp);
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
  background-size: contain;
}
.event h1 {
  font-family: 'Mr Dafoe', cursive;
  text-shadow: 0.09rem 0.09rem 0.09rem var(--color-tua);
}
.event .mycard {
  margin: 0.5rem auto;
  padding: 1rem 3rem;
  background-color: var(--color-muda);
  border-radius: 1.5rem;
  background-image: url(../img/accTopRight.png), url(../img/accTopLeft.png), url(../img/accBottomLeft.png), url(../img/accBottomRight.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top right, top left, bottom left, bottom right;
}
.event .walimatul {
  font-family: 'Mr Dafoe', cursive;
  text-shadow: 0.09rem 0.09rem 0.09rem var(--color-tua);
  
}
/*-----------------------------------------------------
AKHIR EVENT
-------------------------------------------------------*/
/*-----------------------------------------------------
AWAL LOKASI ACARA
-------------------------------------------------------*/
.lokasi {
  text-align: center;
  padding: 2rem;
  margin: 0.5rem auto;
  background-image: url(../img/accTop.png), url(../img/accBottom.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
  background-size: contain;
}
.lokasi .maps iframe {
  background-color: #1f2633;
  border: 0.5rem solid var(--color-muda);
}
.lokasi h1 {
  font-family: 'Mr Dafoe', cursive;
  text-shadow: 0.09rem 0.09rem 0.09rem var(--color-tua);
}
/*-----------------------------------------------------
AKHIR LOKASI ACARA
-------------------------------------------------------*/
/*-----------------------------------------------------
AWAL UCAPAN
-------------------------------------------------------*/
.ucapan {
  text-align: center;
  padding: 2rem;
  margin: 0.5rem auto;
  background-image: url(../img/accTop.png), url(../img/accBottom.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
  background-size: contain;
}
.ucapan h1 {
  font-family: 'Mr Dafoe', cursive;
  text-shadow: 0.09rem 0.09rem 0.09rem var(--color-tua);
}
/*-----------------------------------------------------
AKHIR UCAPAN
-------------------------------------------------------*/

/*-----------------------------------------------------
AWAL FOOTER
-------------------------------------------------------*/
footer {
  display: flex;

}
footer p {
  font-size: 10px;

}

.quote {
  text-align: center;
  width: 100%;
  outline: none;
  background-size: cover;
  font-family: "Tangerine", cursive;
}

footer {
  height: 90px;
  background-color: #a37949;
  color: var(--color-secondary);

}

/*-----------------------------------------------------
AKHIR FOOTER
-------------------------------------------------------*/
